!target/generated-sources/protobuf/grpc-java/
!target/generated-sources/protobuf/java/
target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr

*.log
*.log.1